<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://vinayakcosmosdb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="HDxdUMmhEB2d53nFNmHVCAqOnDCBkn5u8K9y8HY1Sjp2R9gdJE8i3WjVGmuFLW27Gw5oqnzywW5r2coRQWeXfg==" />
  </appSettings>
</configuration>